/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body {
  /* margin: 0; */
  padding: 20px;
  font-family: Arial, sans-serif;
  position: fixed;
  background-size: cover;
   /* background-image: url(https://cdn.wallpapersafari.com/51/27/78VlbA.jpg);  */
  height: 100vmin;
  width:100vw;
  background-attachment: fixed;
  scroll-behavior: none;
} 

 .container {
     width:400px;
     padding: 10px;
     font-family: Arial, sans-serif;
     background-color: transparent; 
     box-shadow: 10 10 10px rgba(0, 0, 0, 0.1);
     margin-top: 55px;
     background-repeat: no-repeat;  
     background-size:50px;
     scroll-behavior: none; 
     margin-left: 800px;
     border-radius: 30px;
     position: fixed;
     /* height: 50%; */

   }
 .container:hover{
  background-color: white;
 
 }
   .image-container {
    flex: 1;
    text-align: right;
    padding-right: 20px;
  }
   
   /* Styles for the header */
   .title {
     margin-top: 50px;
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 20px;
     color: #0073b1;
  
   }
   /* Styles for the form */
   .search-form {
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
   }
   
   .input-group {
     display: flex;
     flex-direction: column;
     margin-bottom: 10px;
   }
   
   label {
     font-weight: bold;
     color: #333;  
   }
   
   input {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
     color: #555;
   }
   
   .search-btn {
     padding: 10px 20px;
     background-color: #0073b1;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
   }
   
   /* Styles for the search results */
   .search-results {
     margin-top: 20px;
   }


